/*Common Styles*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
}

/*------------*\
Header Start
\*------------*/

.head-main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
    /* width: 1440px; */
    height: 677px;
    /* background-size: cover; */
}

.head {
    display: grid;
    justify-content: center;
    align-content: center;
}

.head h1 {
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    width: 485px;
    height: 230px;
    /* position: absolute;
    left: 156px;
    top: 207px; */
}

.head a {
    /* position: absolute;
    left: 156px;
    top: 500px; */
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top:15px ;
    margin-top: 27px;
}

.head img {
    /* position: absolute;
    top: 153px;
    right: 141px; */
    width: 556px;
    height: 448px;
}

/*-------------------------------------*\
Header Hover (Transform and Transition)
\*-------------------------------------*/

.head-main {
    transition: all 1s ease-in;
    /* transition-timing-function: ; */
}

.head-main:hover {
    background-color: #463bdd;
}

.head img {
    transition: transform 1s ease-in;
}

.head img:hover {
    transform: scale(1.15);}

/*------------*\
Player Info
\*------------*/

.player-info {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 70px;

}

.player img {
    width: 300px;
    height: 256px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 27px;
    row-gap: 30px;
    /* line-height: 27px; */
    /* gap: 20px 5px; */
    /* justify-self: center; */
    /* height: 1503px;
    width: 1050px; */
    /* margin: 0 195px; */
    
}


.player {
    width: 300px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player h2 {
    font-size: 28px;
}

.player p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* .left-side {
    position: relative;
    left: 120px;
}

.right-side {
    position: relative;
    right: 120px;
} */

/*------------*\
    Footer 
\*------------*/

/* .social-info{
    display: block; 
    align-items: center; 
    margin-left: auto;
    margin-right: auto; 
}

.social-info img{
    width: 484px;
    height: 110px;
}

.logos{
    display: flex;
    margin: 20px 0;
    position: relative;
    left: 175px;
}

.logo{
    height: 32px;
    width: 32px;
}

.social-info p{
    position: relative;
    left: 124px;
    font-size: 18px;
    font-weight: 400px;
} */




.social-info {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 158px;
    margin-bottom: 63px;
}

/* .social-info {
    margin-top: 158px;
    position: absolute;
    left: 478px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
} */

.social-info img {
    width: 484px;
    height: 110px;
}


.logos {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-content: center;
}

.logo {
    width: 32px;
    width: 32px;
    margin-left: 15px;
}

.social-info p{
    display: grid;
    justify-content: center;
    align-content: center;
}

/*-------------------------------------*\
Media Query for Phone 
\*-------------------------------------*/

@media all and (max-width:688px) {

    .head-main {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-content: center;
        background-color: #2D25A0;
        width: 100%;
        height: 100%;
        
    }

    /* .container-head{
        width: 100%;
    } */
        .head{
            margin-bottom: 5%;
        }

    .head h1 {
        margin-top: 20%;
        width: 100%;
        /* height: 20%; */
    }
    .head a {
        margin-top: 10%;
        /* width: 100%; */
        /* height: 20%; */
    }

    .head img {
       
        width: 75%;
        height: 100%;
        /* justify-content: center;
        align-content: center; */
        margin-left: 40px;
        } 

    /* .container-head{
        display: grid;
        grid-template-columns: repeat(1,1fr); 
        row-gap: 30px;
        height: 200px;
    } */

    /* .player-info {
        margin-right: 30px;
    } */
    .players {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        margin-top: 30%;
        /* margin-left: 30px; */

    }

    .social-info {
        width: 100%;
    }

    .social-info img {
        width: 80%;
        margin-left: 15px;
    }

}

/*-------------------------------------*\
Media Query for Phone 
\*-------------------------------------*/

@media all and (min-width: 669px) and (max-width:992px)  {

    .head-main {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-content: center;
        background-color: #2D25A0;
        width: 100%;
        height: 100%;
        
    }

    /* .container-head{
        width: 100%;
    } */
        

    .head h1 {
        margin-top: 10%;
        width: 100%;
        /* height: 20%; */
    }

    .head img {
        margin-top: 5%;
        width: 75%;
        /* justify-content: center;
        align-content: center; */
        margin-left: 40px;
        } 

    /* .container-head{
        display: grid;
        grid-template-columns: repeat(1,1fr); 
        row-gap: 30px;
        height: 200px;
    } */

    /* .player-info {
        margin-right: 30px;
    } */
    .players {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        margin-top: 30%;
        /* margin-left: 30px; */

    }

    .social-info {
        width: 100%;
        margin-bottom: 40%;
        /* padding: 50%; */
    }



    .social-info img {
        width: 90%;
        margin-left: 15px;
        
    }

}
